@model UserResponse

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Would you like to log yourself in?</h3>
    <a class="btn btn-primary" asp-action="Auth" asp-controller="Home">Log in with Facebook</a>
</div>




